/* 重置一些默认样式 */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* 脚本元素的基本样式 */
.narration {
    display: flex;
    background-color: #f0f0f0; /* 背景色，根据需要调整 */
    border-radius: 10px; /* 圆角 */
    padding: 10px; /* 内边距，根据需要调整 */
    margin-bottom: 10px;
    color: #333;
    width: fit-content;
}

.sticker {
    display: flex;
    background-color: #f0f0f0; /* 背景色，根据需要调整 */
    padding: 10px; /* 内边距，根据需要调整 */
    margin-bottom: 10px;
    color: #555555;
    width: fit-content;
    font-size: 16px;
}

/* 根据传入的对齐方式设置文本对齐 */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.avatar-container {
    width: 50px; /* 根据需要调整 */
    margin-right: 10px;
}

.avatar-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.info {
    flex-grow: 1;
}

.character-name {
    font-weight: bold;
    margin-right: 5px;
}

.dialogue_right {
    display: flex;
    background-color: #f0f0f0; /* 背景色，根据需要调整 */
    border-radius: 10px; /* 圆角 */
    padding: 10px; /* 内边距，根据需要调整 */
    width: fit-content;
    justify-content: flex-end;
    margin-left: auto; /* 将左边距设为 auto，使其靠右对齐 */
}
.dialogue {
    display: flex;
    background-color: #f0f0f0; /* 背景色，根据需要调整 */
    border-radius: 10px; /* 圆角 */
    padding: 10px; /* 内边距，根据需要调整 */
    width: fit-content;
    margin-bottom: 10px;
}

.avatar-container {
    width: 50px; /* 设置头像容器的固定宽度 */
}

.dialogue img {
    width: 100%; /* 让图片充满整个头像容器 */
    border-radius: 50%; /* 将图片变成圆形 */
    margin-right: 10px; /* 右边距，根据需要调整 */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.character-name {
    font-size: 14px; /* 字体大小，根据需要调整 */
    color: #999; /* 字体颜色，较小较淡 */
}

.content {
    font-size: 18px; /* 字体大小，根据需要调整 */
    color: #333; /* 字体颜色，较大较深 */
}
.content_right {
    font-size: 18px; /* 字体大小，根据需要调整 */
    color: #333; /* 字体颜色，较大较深 */
    justify-content: flex-end;/*右置*/
}
.blocker {
    height: 20px
}